In [14]:
import pandas as pd
df = pd.read_html('https://rate.bot.com.tw/xrt?Lang=zh-TW')

In [16]:
type(df)

list

In [17]:
len(df)

1

In [29]:
currency = df[0]

In [30]:
type(currency)

pandas.core.frame.DataFrame

In [31]:
currency.head()

                       幣別                      現金匯率        Unnamed: 4_level_0  \
                       幣別 Unnamed: 1_level_1   本行買入   本行賣出               本行買入
0      美金 (USD)  美金 (USD)              29.61  30.28  29.96              30.06
1      港幣 (HKD)  港幣 (HKD)              3.707  3.911  3.833              3.893
2      英鎊 (GBP)  英鎊 (GBP)              38.01  40.13  39.01              39.43
3      澳幣 (AUD)  澳幣 (AUD)              20.25  21.03  20.52              20.75
4  加拿大幣 (CAD)  加拿大幣 (CAD)              22.48  23.39  22.87              23.09

  即期匯率                    Unnamed: 7_level_0   遠期匯率   歷史匯率          現金匯率  \
  本行賣出 Unnamed: 6_level_1               本行買入   遠期匯率   歷史匯率   本行賣出 本行買入.1
0   查詢                 查詢              29.61  30.28  29.96  30.06    NaN
1   查詢                 查詢              3.707  3.911  3.833  3.893    NaN
2   查詢                 查詢              38.01  40.13  39.01  39.43    NaN
3   查詢                 查詢              20.25  21.03  20.52  20.75    NaN
4   查詢                 查詢              22.48  23.39  22.87  23.09    NaN

         Unnamed: 13_level_0                即期匯率                      \
  本行賣出.1 Unnamed: 13_level_1 Unnamed: 14_level_1 Unnamed: 15_level_1
0    NaN                 NaN                 NaN                 NaN
1    NaN                 NaN                 NaN                 NaN
2    NaN                 NaN                 NaN                 NaN
3    NaN                 NaN                 NaN                 NaN
4    NaN                 NaN                 NaN                 NaN

  Unnamed: 16_level_0
  Unnamed: 16_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

In [39]:
currency = currency.dropna(axis = 1, how = 'all')

In [40]:
currency.columns

MultiIndex([(                '幣別',                 '幣別'),
            (                '幣別', 'Unnamed: 1_level_1'),
            (              '現金匯率',               '本行買入'),
            (              '現金匯率',               '本行賣出'),
            ('Unnamed: 4_level_0',               '本行買入'),
            (              '即期匯率',               '本行賣出'),
            (              '即期匯率', 'Unnamed: 6_level_1'),
            ('Unnamed: 7_level_0',               '本行買入'),
            (              '遠期匯率',               '遠期匯率'),
            (              '歷史匯率',               '歷史匯率'),
            (              '歷史匯率',               '本行賣出')],
           )

In [41]:
currency = currency.drop(currency.columns[[5,6]], axis = 1)

In [43]:
currency = currency.iloc[:,0:5]
currency.head()

                       幣別                      現金匯率        Unnamed: 4_level_0
                       幣別 Unnamed: 1_level_1   本行買入   本行賣出               本行買入
0      美金 (USD)  美金 (USD)              29.61  30.28  29.96              30.06
1      港幣 (HKD)  港幣 (HKD)              3.707  3.911  3.833              3.893
2      英鎊 (GBP)  英鎊 (GBP)              38.01  40.13  39.01              39.43
3      澳幣 (AUD)  澳幣 (AUD)              20.25  21.03  20.52              20.75
4  加拿大幣 (CAD)  加拿大幣 (CAD)              22.48  23.39  22.87              23.09

In [44]:
currency.columns = [u'幣別',u'現金匯率-本行買入',u'現金匯率-本行賣出',u'即期匯率-本行買入',u'即期匯率-本行賣出']
currency.tail()

                      幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出
14    歐元 (EUR)  歐元 (EUR)     32.52     33.86     33.14     33.54
15    韓元 (KRW)  韓元 (KRW)    0.0241     0.028         -         -
16  越南盾 (VND)  越南盾 (VND)   0.00092   0.00142         -         -
17  馬來幣 (MYR)  馬來幣 (MYR)     6.239     7.883         -         -
18  人民幣 (CNY)  人民幣 (CNY)     4.234     4.396     4.306     4.356

In [74]:
currency[u'幣別'] = currency[u'幣別'].str.extract('\)(.+)')

In [76]:
currency

              幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出
0       美金 (USD)     29.61     30.28     29.96     30.06
1       港幣 (HKD)     3.707     3.911     3.833     3.893
2       英鎊 (GBP)     38.01     40.13     39.01     39.43
3       澳幣 (AUD)     20.25     21.03     20.52     20.75
4     加拿大幣 (CAD)     22.48     23.39     22.87     23.09
5     新加坡幣 (SGD)     21.66     22.57     22.15     22.33
6     瑞士法郎 (CHF)     30.02     31.22     30.68     30.97
7       日圓 (JPY)    0.2647    0.2775     0.272     0.276
8      南非幣 (ZAR)         -         -     2.073     2.153
9      瑞典幣 (SEK)      2.78       3.3      3.12      3.22
10      紐元 (NZD)     19.41     20.26     19.79     19.99
11      泰幣 (THB)    0.8683    1.0563    0.9769    1.0169
12    菲國比索 (PHP)    0.5186    0.6516         -         -
13     印尼幣 (IDR)   0.00183   0.00253         -         -
14      歐元 (EUR)     32.52     33.86     33.14     33.54
15      韓元 (KRW)    0.0241     0.028         -         -
16     越南盾 (VND)   0.00092   0.00142         -         -
17     馬來幣 (MYR)     6.239     7.883         -         -
18     人民幣 (CNY)     4.234     4.396     4.306     4.356